/* AboutPage.css */

.bg-yellow-team {
    background: #ffd700; 
    background: radial-gradient(circle, #ffd700 80%, #000 100%);
}

.who-we-are, .mission-vision, .our-values, .our-team{
    padding-top: 108px;
    padding-bottom: 108px;
}

.who-we-are img{
    aspect-ratio: 1 / 1;
    height: auto;
}

.mission-values h2{
    font-size: 3rem;
}

.our-team {
	overflow: hidden;
}

.our-team-sub-heading {
	font-size: 1.1rem;
	color: #000;
}

.our-team-card {
	background-color: #000;
	border-radius: 25px;
    box-shadow: 0 8px 15px #000000;
	transition: transform 0.25s ease-in-out;
}

.our-team-card:hover {
	transform: translateY(-5px);
}

.our-team img {
	border-radius: 20px;
    width: 100%;
    aspect-ratio: 1 / 1; 
    object-fit: cover;
    overflow: hidden;
}

.social-icons:hover{
    color: rgb(234 179 8 / 1);
}

.about-hero-section {
    background: linear-gradient(135deg, #ffd700, #000000);
    color: white;
    padding: 20px 0;
    text-align: center;
    height: 30rem;
}

.about-hero-section h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.about-hero-content {
    margin: auto;
    text-align: center;
    padding: 20px;
    max-width: 800px;
    position: relative;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}


.about-hero-title {
    margin: 20px;
    padding-top: 10px;
}

.about-hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.value-card,
.team-card {
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.value-card:hover,
.team-card:hover {
    transform: translateY(-10px);
}

.value-icon {
    font-size: 3rem;
    color: #007bff;
    margin-bottom: 20px;
}

.team-image {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}



@media (max-width: 768px) {
    /* .hero-subtitle {
        font-size: 1.2rem;
    } */

    .bg-yellow-team{
        background: #ffd700; 
        background: radial-gradient(circle, #ffd700 96%, #000 100%);
    }

    .our-team .sections-heading{
        text-align: center;
    }

    .mission-vision .row, .who-we-are .row, .our-values .row{
        --bs-gutter-x: 0px;
    }

    .black-card-container{
        padding-left: 20px;
        padding-right: 20px;
    }

    .our-team-card-body{
        padding-left: 30px;
        padding-right: 30px;
    }
}