/* AboutPage.css */

.about-hero-section {
    background: linear-gradient(135deg, #ffd700, #000000);
    color: white;
    padding: 20px 0;
    text-align: center;
    height: 15rem;
}


.about-hero-section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1), transparent);
    animation: rotate 10s linear infinite;
}

.about-hero-section h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.about-hero-content {
    margin: auto;
    text-align: center;
    padding: 20px;
    max-width: 800px;
    position: relative;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}


.about-hero-title {
    margin: 20px;
    padding-top: 10px;
}

.about-hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.value-card,
.team-card {
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.value-card:hover,
.team-card:hover {
    transform: translateY(-10px);
}

.value-icon {
    font-size: 3rem;
    color: #007bff;
    margin-bottom: 20px;
}

.team-image {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}



@media (max-width: 768px) {
    .hero-title {
        font-size: 2.5rem;
    }

    .hero-subtitle {
        font-size: 1.2rem;
    }

    .team-card,
    .value-card {
        padding: 20px;
    }
}