mark{
    padding: 0px;
}

.blogpage-img {
    width: 100%; 
    height: auto; 
    object-fit: cover;
}

.blog-container p{
    font-size: 1.2rem;
    font-weight: 200;
}

.blogpage-date{
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .blog-container {
      width: 100vw !important;
    }
}