/* CareerPage.css */

.career-page-container {
    background: linear-gradient(135deg, #ffd700, #000000);
    color: white;
    padding: 40px 0;
    position: relative;
    overflow: hidden;
    height: 15rem;
}
