
body {
    overflow-x: hidden;
  }

.value-card,
.team-card {
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.promotional-section {
    background-color: #f8f9fa;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding-top: 50px;
}

.promotional-section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.promotional-section p {
    font-size: 1.2rem;
    color: #555;
}




@media (max-width: 768px) {

    .promotional-section h2 {
        font-size: 1.8rem;
    }

    .promotional-section p {
        font-size: 1rem;
    }
}