body {
    background-color: #fff;
}

.homepage-hero-section {
    background: rgba(0, 0, 0, 0.5) url('../assets/city.jpeg');
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}


.homepage-hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
}

.homepage-hero-content {
    position: relative;
    z-index: 1;
    top: 48%;
    transform: translateY(-50%);
}

.homepage-hero-title {
    font-size: 4rem;
}

.homepage-hero-subtitle {
    font-size: 2rem;
    max-width: 42rem;
    font-weight: normal;
}

.homepage-hero-button{
    background-color: #FACC15 !important;
    border: #FACC15;
    color: #000000;
    height: 48px;
    padding-left: 2rem; 
    padding-right: 2rem;
}


.homepage-hero-button:hover{
    background-color: rgb(234 179 8 / 1) !important;
    border: rgb(234 179 8 / 1);
    color: #000000;
}

.homepage-hero-button:active{
    color: #000000 !important; 
}


.homepage-video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin-bottom: 30px;
}

.homepage-video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.services{
    background-color: #fff;
    padding: 108px 80px;
}


.blockquote-footer {
    margin-top: auto;
    font-size: 1.2rem;
    color: #6c757d;
}

.choose-us, .testimonials, .introduction{
    padding-top: 108px;
    padding-bottom: 108px;
}

.choose-us-body{
    padding: 30px;
}

.choose-us-card {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 8px 15px #FFD700; */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.choose-us-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px #FFD700;
}

.stat-desc{
    font-size: 0.9rem;
}

.carousel-item{
    min-height: 500px;
    position: relative;
}

.testimonial-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #dee2e6;
}

.carousel-caption{
    position: absolute;
    right: 15%;
    left: 15%;
    bottom: 50px;
    padding: 50px 0;
    color: #000;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.quote-icon{
    margin-top: -5px;
    margin-right: 5px;
    color: #FFD700;
}


@media (max-width: 780px) {
    .homepage-hero-title {
        font-size: 3rem;
    }
    
    .homepage-hero-subtitle {
        font-size: 1.5rem;
    }

    .carousel-caption p{
        font-size: 1rem !important ;
    }

    .choose-us-container{
        padding-left: 40px;
        padding-right: 40px;
    }
}
