body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.homepage-hero-section {
    background: rgba(0, 0, 0, 0.5) url('../assets/city.jpeg');
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}


.homepage-hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
}

.homepage-hero-content {
    position: relative;
    z-index: 1;
    top: 48%;
    transform: translateY(-50%);
}

.homepage-hero-title {
    font-size: 4rem;
}

.homepage-hero-subtitle {
    font-size: 2rem;
    max-width: 42rem;
    font-weight: normal;
}

.homepage-hero-button{
    background-color: #FACC15 !important;
    border: #FACC15;
    color: #000000;
    height: 48px;
    padding-left: 2rem; 
    padding-right: 2rem;
}


.homepage-hero-button:hover{
    background-color: rgb(234 179 8 / 1) !important;
    border: rgb(234 179 8 / 1);
    color: #000000;
}

.homepage-hero-button:active{
    color: #000000 !important; 
}


.homepage-video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin-bottom: 30px;
}

.homepage-video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.services{
    background-color: white;
    padding: 128px 80px;
}

.blockquote-footer {
    margin-top: auto;
    font-size: 1.2rem;
    color: #6c757d;
}

.choose-us{
    padding: 30px;
}
.stat-desc{
    font-size: 0.9rem;
}


@media (max-width: 780px) {
    .homepage-hero-title {
        font-size: 3rem;
    }
    
    .homepage-hero-subtitle {
        font-size: 1.5rem;
    }
}
