/* Hero Section Styling */
.research-hero-section {
    background: linear-gradient(110deg, #ffd700, #000000);
    color: white;
    padding: 20px 0;
    position: relative;
    overflow: hidden;
    height: 15rem;
    
}


.research-hero-section::before {
    content: '';
    position: absolute;
    width: 400%;
    height: 400%;
    top: -200%;
    left: -200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1), transparent);
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.services-hero-content {
    margin: auto;
    text-align: center;
    padding: 20px;
    max-width: 800px;
    position: relative;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}



.research-title {
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.hero-subtitle {
    font-size: 1.5rem;
    color: #e0e0e0;
    margin-bottom: 20px;
}

/* Research Cards Styling */
.research-card {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.research-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.research-card .card-title {
    font-weight: 600;
    font-size: 1.3rem;
}

.research-card .btn-primary {
    background-color: #343a40;
    border-color: #343a40;
}

.research-card .btn-primary:hover {
    background-color: #ffc107;
    border-color: #ffc107;
}

.blog-button.btn-primary {
    background-color: #343a40;
    border-color: #343a40;
}

.blog-button.btn-primary:hover {
    background-color: #ffc107;
    border-color: #ffc107;
}

.blog-img{
    height: 250px;
}


.blog-card:hover{
    box-shadow: 0 0 24px 0 rgba(0,0,0,.4);
    transition: .2s ease-in-out
}

.blog-card-title{
    text-decoration: none;
    color: #000000;
}

/* .blog-card-title:hover{
    color: #2251ff;
    text-decoration: underline;
} */


.blog-button, .research-button{
    background-color: #FACC15 !important;
    border: #FACC15;
    color: #000000;
}


.blog-button:hover, .research-button:hover{
    background-color: rgb(234 179 8 / 1) !important;
    border: rgb(234 179 8 / 1);
    color: #000000;
}

.card-excerpt{
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 3; 
    line-clamp: 3;
    -webkit-box-orient: vertical; 
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .research-hero-section {
        padding: 60px 0;
    }

    .research-title {
        font-size: 2.5rem;
    }

    .hero-subtitle {
        font-size: 1.2rem;
    }

}