
/* || Hero */

#research-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/banners/Research.webp') no-repeat center center;  
    background-size: cover;  
}

/* || Research Cards */
.research-card {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.research-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.research-card .card-title {
    font-weight: 600;
    font-size: 1.3rem;
}

.research-card .btn-primary:hover {
    background-color: rgb(234 179 8 / 1) !important;
    border: rgb(234 179 8 / 1);
}
