/* ServicesPage.css */

#services-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/banners/Services.webp') no-repeat center center;    
}


.services-container{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/servicepage/PROJ-service.webp') no-repeat center center fixed;    
    background-size: cover;
    background-color: #000;
    color: #fff; 
}

.service-card {
    background-color: rgba(0, 0, 0, 0.8); 
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    text-align: left;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.service-card:hover  {
    background: linear-gradient(135deg, #ffd700, #feb47a);
}

.service-card:hover p, .service-card:hover h3 {
    color: #000 !important;
}

.service-heading{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 

}

.card-icon {
    font-size: 3rem;
    background: #000;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 50%;
    transition: background 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-content h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.card-content p {
    font-size: 1rem;
    margin-bottom: 10px;
}


.homepage-call-to-action-section {
    background-color: #666;
}

.service-carousel img {
    width: 100%;
    height: 600px; 
    object-fit: cover;
}
