/* Footer.css */

footer {
    background-color: #000000;
    color: white;
    padding: 40px 0;
    transition: background-color 0.3s ease;
}

.footer-logo{
    letter-spacing: 0.1rem;
}

footer:hover {
    background-color: #2b2b2b;
}

.footer-heading {
    font-size: 1.25rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f8f9fa;
    transition: color 0.3s ease;
}

.footer-heading:hover {
    color: #f8f9fa;
}

.footer-link {
    color: #adb5bd;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.footer-link:hover {
    color: #ffd700;
    text-shadow: 0 0 8px rgba(235, 182, 22, 0.8);
}

.social-icons a {
    font-size: 1.5rem;
    color: #ffd700;
    transition: color 0.3s ease, transform 0.3s ease;
    shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.social-icons a:hover {
    color: #ffd700;
    transform: translateY(-3px);
    text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 15px #ffd700, 0 0 20px #ffd700, 0 0 25px #ffd700; /* Enhanced glowing effect */
    transition: transform 0.2s ease, text-shadow 0.2s ease; /* Smooth transition */
}


.footer-icon {
    margin: 0 10px;
}

.footer .text-center p {
    margin: 0;
    padding: 5px 0;
    font-size: 0.9rem;
    color: #adb5bd;
}

.footer .text-center .d-flex a {
    font-size: 1.5rem;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.footer .text-center .d-flex a:hover {
    color: #f8f9fa;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.footer .text-center {
    margin-top: 20px;
    border-top: 1px solid #343a40;
    padding-top: 20px;
}




/* Responsive Design */
@media (max-width: 768px) {
    .footer-heading {
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .footer-link {
        font-size: 0.875rem;
    }

    .footer .text-center p {
        font-size: 0.85rem;
    }
}