
.infoform-container {

    background-color: #18181B;
    padding: 50px 0;
}

.infoform-container h2,
.infoform-container p {
    margin-bottom: 40px;
}

.infoform {
    max-width: 600px;
    margin: 0 auto;
}

.infoform .form-label {
    color: #f8f9fa;
}

.infoform .form-control {
    background-color: #495057;
    border: 1px solid #ced4da;
    color: #f8f9fa;
}

.infoform .form-control::placeholder {
    color: #adb5bd;
}

.infoform .form-control:focus {
    background-color: #495057;
    border-color: #80bdff;
    box-shadow: none;
    color: #f8f9fa;
}

.infoform .btn {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s;
}

.infoform .btn:hover {
    background-color: #0056b3;
}


.submit-button {
    background-color: #8ed130;
}


.submit-button:hover {
    background-color: #FFC300;
    /* Slightly darker shade on hover */
    border-color: #FFC300;
    color: #fff;
    /* Change text color on hover, if desired */
    transform: scale(1.05);
    /* Slightly enlarge the button */
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Smooth transition effect */
}