/* InfoForm.css */

.infoform-container {
    
    background-color: #343a40;
    padding: 50px 0;
  }
  
  .infoform-container h2,
  .infoform-container p {
    margin-bottom: 40px;
  }
  
  .infoform {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .infoform .form-label {
    color: #f8f9fa;
  }
  
  .infoform .form-control {
    background-color: #495057;
    border: 1px solid #ced4da;
    color: #f8f9fa;
  }
  
  .infoform .form-control::placeholder {
    color: #adb5bd;
  }
  
  .infoform .form-control:focus {
    background-color: #495057;
    border-color: #80bdff;
    box-shadow: none;
    color: #f8f9fa;
  }
  
  .infoform .btn {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s;
  }
  
  .infoform .btn:hover {
    background-color: #0056b3;
  }
  