/* InfoForm.css */

.partner-form-container {
    background-color: #343a40;
    padding: 50px 0;
}

.partner-form-container h2,
.partner-form-container p {
    margin-bottom: 40px;
}

.partner-form {
    max-width: 600px;
    margin: 0 auto;
}

.partner-form .form-label {
    color: #f8f9fa;
}

.partner-form .form-control {
    background-color: #495057;
    border: 1px solid #ced4da;
    color: #f8f9fa;
}

.partner-form .form-control::placeholder {
    color: #adb5bd;
}

.partner-form .form-control:focus {
    background-color: #495057;
    border-color: #80bdff;
    box-shadow: none;
    color: #f8f9fa;
}

.partner-form .btn {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s;
}

.partner-form .btn:hover {
    background-color: #0056b3;
}


.submit-button {
    background-color: #8ed130;
}


.submit-button:hover {
    background-color: #FFC300;
    /* Slightly darker shade on hover */
    border-color: #FFC300;
    color: #fff;
    /* Change text color on hover, if desired */
    transform: scale(1.05);
    /* Slightly enlarge the button */
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Smooth transition effect */
}