html{
  font-family: "Geologica", 'Roboto', system-ui, sans-serif;
}

h1, h2, h3, h4, h5, a{
  font-family: "Geologica", 'Roboto', system-ui, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
